<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
===================================================================

Sprite sheet file created for UIKit using TexturePacker
https://www.codeandweb.com/texturepacker

===================================================================
$TexturePacker:SmartUpdate:baf6599d3e158708e537fbbe3ad95491:5880c767ea5d25105fe81ea08f791608:dce5b7081eceb2066e06158fc60a0930$
-->
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>

                        <key>Box2</key>
			<dict>
				<key>x</key><real>913</real>
				<key>y</key><real>507</real>
				<key>w</key><real>119</real>
				<key>h</key><real>120</real>
				
				
			</dict>
                        <key>CapGuyWalk0001</key>
			<dict>
				<key>x</key><real>261</real>
				<key>y</key><real>2</real>
				<key>w</key><real>253</real>
				<key>h</key><real>507</real>
				<key>oX</key><real>25</real>
				<key>oY</key><real>6</real>
				<key>oW</key><real>300</real>
				<key>oH</key><real>521</real>
				
			</dict>
                        <key>CapGuyWalk0002</key>
			<dict>
				<key>x</key><real>261</real>
				<key>y</key><real>2</real>
				<key>w</key><real>253</real>
				<key>h</key><real>507</real>
				<key>oX</key><real>25</real>
				<key>oY</key><real>6</real>
				<key>oW</key><real>300</real>
				<key>oH</key><real>521</real>
				
			</dict>
                        <key>CapGuyWalk0003</key>
			<dict>
				<key>x</key><real>516</real>
				<key>y</key><real>2</real>
				<key>w</key><real>268</real>
				<key>h</key><real>485</real>
				<key>oX</key><real>1</real>
				<key>oY</key><real>14</real>
				<key>oW</key><real>300</real>
				<key>oH</key><real>521</real>
				
			</dict>
                        <key>CapGuyWalk0004</key>
			<dict>
				<key>x</key><real>516</real>
				<key>y</key><real>2</real>
				<key>w</key><real>268</real>
				<key>h</key><real>485</real>
				<key>oX</key><real>1</real>
				<key>oY</key><real>14</real>
				<key>oW</key><real>300</real>
				<key>oH</key><real>521</real>
				
			</dict>
                        <key>CapGuyWalk0005</key>
			<dict>
				<key>x</key><real>2</real>
				<key>y</key><real>515</real>
				<key>w</key><real>242</real>
				<key>h</key><real>492</real>
				<key>oX</key><real>43</real>
				<key>oY</key><real>5</real>
				<key>oW</key><real>300</real>
				<key>oH</key><real>521</real>
				
			</dict>
                        <key>CapGuyWalk0006</key>
			<dict>
				<key>x</key><real>2</real>
				<key>y</key><real>515</real>
				<key>w</key><real>242</real>
				<key>h</key><real>492</real>
				<key>oX</key><real>43</real>
				<key>oY</key><real>5</real>
				<key>oW</key><real>300</real>
				<key>oH</key><real>521</real>
				
			</dict>
                        <key>CapGuyWalk0007</key>
			<dict>
				<key>x</key><real>246</real>
				<key>y</key><real>515</real>
				<key>w</key><real>225</real>
				<key>h</key><real>491</real>
				<key>oX</key><real>68</real>
				<key>oY</key><real>3</real>
				<key>oW</key><real>300</real>
				<key>oH</key><real>521</real>
				
			</dict>
                        <key>CapGuyWalk0008</key>
			<dict>
				<key>x</key><real>246</real>
				<key>y</key><real>515</real>
				<key>w</key><real>225</real>
				<key>h</key><real>491</real>
				<key>oX</key><real>68</real>
				<key>oY</key><real>3</real>
				<key>oW</key><real>300</real>
				<key>oH</key><real>521</real>
				
			</dict>
                        <key>CapGuyWalk0009</key>
			<dict>
				<key>x</key><real>473</real>
				<key>y</key><real>511</real>
				<key>w</key><real>222</real>
				<key>h</key><real>498</real>
				<key>oX</key><real>54</real>
				<key>oY</key><real>6</real>
				<key>oW</key><real>300</real>
				<key>oH</key><real>521</real>
				
			</dict>
                        <key>CapGuyWalk0010</key>
			<dict>
				<key>x</key><real>473</real>
				<key>y</key><real>511</real>
				<key>w</key><real>222</real>
				<key>h</key><real>498</real>
				<key>oX</key><real>54</real>
				<key>oY</key><real>6</real>
				<key>oW</key><real>300</real>
				<key>oH</key><real>521</real>
				
			</dict>
                        <key>CapGuyWalk0011</key>
			<dict>
				<key>x</key><real>697</real>
				<key>y</key><real>507</real>
				<key>w</key><real>214</real>
				<key>h</key><real>498</real>
				<key>oX</key><real>48</real>
				<key>oY</key><real>14</real>
				<key>oW</key><real>300</real>
				<key>oH</key><real>521</real>
				
			</dict>
                        <key>CapGuyWalk0012</key>
			<dict>
				<key>x</key><real>697</real>
				<key>y</key><real>507</real>
				<key>w</key><real>214</real>
				<key>h</key><real>498</real>
				<key>oX</key><real>48</real>
				<key>oY</key><real>14</real>
				<key>oW</key><real>300</real>
				<key>oH</key><real>521</real>
				
			</dict>
                        <key>CapGuyWalk0013</key>
			<dict>
				<key>x</key><real>786</real>
				<key>y</key><real>2</real>
				<key>w</key><real>232</real>
				<key>h</key><real>503</real>
				<key>oX</key><real>53</real>
				<key>oY</key><real>5</real>
				<key>oW</key><real>300</real>
				<key>oH</key><real>521</real>
				
			</dict>
                        <key>CapGuyWalk0014</key>
			<dict>
				<key>x</key><real>786</real>
				<key>y</key><real>2</real>
				<key>w</key><real>232</real>
				<key>h</key><real>503</real>
				<key>oX</key><real>53</real>
				<key>oY</key><real>5</real>
				<key>oW</key><real>300</real>
				<key>oH</key><real>521</real>
				
			</dict>
                        <key>CapGuyWalk0015</key>
			<dict>
				<key>x</key><real>2</real>
				<key>y</key><real>2</real>
				<key>w</key><real>257</real>
				<key>h</key><real>511</real>
				<key>oX</key><real>36</real>
				<key>oY</key><real>3</real>
				<key>oW</key><real>300</real>
				<key>oH</key><real>521</real>
				
			</dict>
                        <key>CapGuyWalk0016</key>
			<dict>
				<key>x</key><real>2</real>
				<key>y</key><real>2</real>
				<key>w</key><real>257</real>
				<key>h</key><real>511</real>
				<key>oX</key><real>36</real>
				<key>oY</key><real>3</real>
				<key>oW</key><real>300</real>
				<key>oH</key><real>521</real>
				
			</dict>
		</dict>
		<key>meta</key>
		<dict>
			<key>image</key>
			<string>spritesheet@2x.png</string>
			<key>width</key>
			<integer>1034</integer>
			<key>height</key>
			<integer>1011</integer>
		</dict>
	</dict>
</plist>
