<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
===================================================================

Sprite sheet file created for UIKit using TexturePacker
http://www.codeandweb.com/texturepacker

===================================================================
$TexturePacker:SmartUpdate:1ba433e3a4376d4d52bbe15a3cd546c9:5880c767ea5d25105fe81ea08f791608:4298dc3ef68984c693be4065c3af828c$
-->
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>

                        <key>Box2</key>
			<dict>
				<key>x</key><real>916</real>
				<key>y</key><real>502</real>
				<key>w</key><real>120</real>
				<key>h</key><real>120</real>
				<key>oX</key><real>0</real>
				<key>oY</key><real>0</real>
				<key>oW</key><real>119</real>
				<key>oH</key><real>120</real>
				
			</dict>
                        <key>CapGuyWalk0001</key>
			<dict>
				<key>x</key><real>266</real>
				<key>y</key><real>4</real>
				<key>w</key><real>254</real>
				<key>h</key><real>508</real>
				<key>oX</key><real>24</real>
				<key>oY</key><real>6</real>
				<key>oW</key><real>300</real>
				<key>oH</key><real>521</real>
				
			</dict>
                        <key>CapGuyWalk0002</key>
			<dict>
				<key>x</key><real>266</real>
				<key>y</key><real>4</real>
				<key>w</key><real>254</real>
				<key>h</key><real>508</real>
				<key>oX</key><real>24</real>
				<key>oY</key><real>6</real>
				<key>oW</key><real>300</real>
				<key>oH</key><real>521</real>
				
			</dict>
                        <key>CapGuyWalk0003</key>
			<dict>
				<key>x</key><real>524</real>
				<key>y</key><real>4</real>
				<key>w</key><real>270</real>
				<key>h</key><real>486</real>
				<key>oX</key><real>0</real>
				<key>oY</key><real>14</real>
				<key>oW</key><real>300</real>
				<key>oH</key><real>521</real>
				
			</dict>
                        <key>CapGuyWalk0004</key>
			<dict>
				<key>x</key><real>524</real>
				<key>y</key><real>4</real>
				<key>w</key><real>270</real>
				<key>h</key><real>486</real>
				<key>oX</key><real>0</real>
				<key>oY</key><real>14</real>
				<key>oW</key><real>300</real>
				<key>oH</key><real>521</real>
				
			</dict>
                        <key>CapGuyWalk0005</key>
			<dict>
				<key>x</key><real>798</real>
				<key>y</key><real>4</real>
				<key>w</key><real>244</real>
				<key>h</key><real>494</real>
				<key>oX</key><real>42</real>
				<key>oY</key><real>4</real>
				<key>oW</key><real>300</real>
				<key>oH</key><real>521</real>
				
			</dict>
                        <key>CapGuyWalk0006</key>
			<dict>
				<key>x</key><real>798</real>
				<key>y</key><real>4</real>
				<key>w</key><real>244</real>
				<key>h</key><real>494</real>
				<key>oX</key><real>42</real>
				<key>oY</key><real>4</real>
				<key>oW</key><real>300</real>
				<key>oH</key><real>521</real>
				
			</dict>
                        <key>CapGuyWalk0007</key>
			<dict>
				<key>x</key><real>448</real>
				<key>y</key><real>516</real>
				<key>w</key><real>226</real>
				<key>h</key><real>492</real>
				<key>oX</key><real>68</real>
				<key>oY</key><real>2</real>
				<key>oW</key><real>300</real>
				<key>oH</key><real>521</real>
				
			</dict>
                        <key>CapGuyWalk0008</key>
			<dict>
				<key>x</key><real>448</real>
				<key>y</key><real>516</real>
				<key>w</key><real>226</real>
				<key>h</key><real>492</real>
				<key>oX</key><real>68</real>
				<key>oY</key><real>2</real>
				<key>oW</key><real>300</real>
				<key>oH</key><real>521</real>
				
			</dict>
                        <key>CapGuyWalk0009</key>
			<dict>
				<key>x</key><real>4</real>
				<key>y</key><real>520</real>
				<key>w</key><real>222</real>
				<key>h</key><real>498</real>
				<key>oX</key><real>54</real>
				<key>oY</key><real>6</real>
				<key>oW</key><real>300</real>
				<key>oH</key><real>521</real>
				
			</dict>
                        <key>CapGuyWalk0010</key>
			<dict>
				<key>x</key><real>4</real>
				<key>y</key><real>520</real>
				<key>w</key><real>222</real>
				<key>h</key><real>498</real>
				<key>oX</key><real>54</real>
				<key>oY</key><real>6</real>
				<key>oW</key><real>300</real>
				<key>oH</key><real>521</real>
				
			</dict>
                        <key>CapGuyWalk0011</key>
			<dict>
				<key>x</key><real>230</real>
				<key>y</key><real>520</real>
				<key>w</key><real>214</real>
				<key>h</key><real>498</real>
				<key>oX</key><real>48</real>
				<key>oY</key><real>14</real>
				<key>oW</key><real>300</real>
				<key>oH</key><real>521</real>
				
			</dict>
                        <key>CapGuyWalk0012</key>
			<dict>
				<key>x</key><real>230</real>
				<key>y</key><real>520</real>
				<key>w</key><real>214</real>
				<key>h</key><real>498</real>
				<key>oX</key><real>48</real>
				<key>oY</key><real>14</real>
				<key>oW</key><real>300</real>
				<key>oH</key><real>521</real>
				
			</dict>
                        <key>CapGuyWalk0013</key>
			<dict>
				<key>x</key><real>678</real>
				<key>y</key><real>502</real>
				<key>w</key><real>234</real>
				<key>h</key><real>504</real>
				<key>oX</key><real>52</real>
				<key>oY</key><real>4</real>
				<key>oW</key><real>300</real>
				<key>oH</key><real>521</real>
				
			</dict>
                        <key>CapGuyWalk0014</key>
			<dict>
				<key>x</key><real>678</real>
				<key>y</key><real>502</real>
				<key>w</key><real>234</real>
				<key>h</key><real>504</real>
				<key>oX</key><real>52</real>
				<key>oY</key><real>4</real>
				<key>oW</key><real>300</real>
				<key>oH</key><real>521</real>
				
			</dict>
                        <key>CapGuyWalk0015</key>
			<dict>
				<key>x</key><real>4</real>
				<key>y</key><real>4</real>
				<key>w</key><real>258</real>
				<key>h</key><real>512</real>
				<key>oX</key><real>36</real>
				<key>oY</key><real>2</real>
				<key>oW</key><real>300</real>
				<key>oH</key><real>521</real>
				
			</dict>
                        <key>CapGuyWalk0016</key>
			<dict>
				<key>x</key><real>4</real>
				<key>y</key><real>4</real>
				<key>w</key><real>258</real>
				<key>h</key><real>512</real>
				<key>oX</key><real>36</real>
				<key>oY</key><real>2</real>
				<key>oW</key><real>300</real>
				<key>oH</key><real>521</real>
				
			</dict>
		</dict>
		<key>meta</key>
		<dict>
			<key>image</key>
			<string>spritesheet@2x.png</string>
			<key>width</key>
			<integer>1046</integer>
			<key>height</key>
			<integer>1022</integer>
		</dict>
	</dict>
</plist>
