<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
===================================================================

Sprite sheet file created for UIKit using TexturePacker
http://www.codeandweb.com/texturepacker

===================================================================
$TexturePacker:SmartUpdate:ddb4d34242d2c83abc9e369db4229d78$
-->
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>

                        <key>Box2</key>
			<dict>
				<key>x</key><real>112</real>
				<key>y</key><real>1000</real>
				<key>w</key><real>60</real>
				<key>h</key><real>60</real>
				
				
			</dict>
                        <key>CapGuyWalk0001</key>
			<dict>
				<key>x</key><real>2</real>
				<key>y</key><real>259</real>
				<key>w</key><real>126</real>
				<key>h</key><real>255</real>
				<key>oX</key><real>13</real>
				<key>oY</key><real>2</real>
				<key>oW</key><real>150</real>
				<key>oH</key><real>261</real>
				
			</dict>
                        <key>CapGuyWalk0002</key>
			<dict>
				<key>x</key><real>2</real>
				<key>y</key><real>259</real>
				<key>w</key><real>126</real>
				<key>h</key><real>255</real>
				<key>oX</key><real>13</real>
				<key>oY</key><real>2</real>
				<key>oW</key><real>150</real>
				<key>oH</key><real>261</real>
				
			</dict>
                        <key>CapGuyWalk0003</key>
			<dict>
				<key>x</key><real>116</real>
				<key>y</key><real>755</real>
				<key>w</key><real>134</real>
				<key>h</key><real>243</real>
				<key>oX</key><real>0</real>
				<key>oY</key><real>7</real>
				<key>oW</key><real>150</real>
				<key>oH</key><real>261</real>
				
			</dict>
                        <key>CapGuyWalk0004</key>
			<dict>
				<key>x</key><real>116</real>
				<key>y</key><real>755</real>
				<key>w</key><real>134</real>
				<key>h</key><real>243</real>
				<key>oX</key><real>0</real>
				<key>oY</key><real>7</real>
				<key>oW</key><real>150</real>
				<key>oH</key><real>261</real>
				
			</dict>
                        <key>CapGuyWalk0005</key>
			<dict>
				<key>x</key><real>130</real>
				<key>y</key><real>506</real>
				<key>w</key><real>120</real>
				<key>h</key><real>247</real>
				<key>oX</key><real>22</real>
				<key>oY</key><real>2</real>
				<key>oW</key><real>150</real>
				<key>oH</key><real>261</real>
				
			</dict>
                        <key>CapGuyWalk0006</key>
			<dict>
				<key>x</key><real>130</real>
				<key>y</key><real>506</real>
				<key>w</key><real>120</real>
				<key>h</key><real>247</real>
				<key>oX</key><real>22</real>
				<key>oY</key><real>2</real>
				<key>oW</key><real>150</real>
				<key>oH</key><real>261</real>
				
			</dict>
                        <key>CapGuyWalk0007</key>
			<dict>
				<key>x</key><real>2</real>
				<key>y</key><real>516</real>
				<key>w</key><real>112</real>
				<key>h</key><real>245</real>
				<key>oX</key><real>34</real>
				<key>oY</key><real>2</real>
				<key>oW</key><real>150</real>
				<key>oH</key><real>261</real>
				
			</dict>
                        <key>CapGuyWalk0008</key>
			<dict>
				<key>x</key><real>2</real>
				<key>y</key><real>516</real>
				<key>w</key><real>112</real>
				<key>h</key><real>245</real>
				<key>oX</key><real>34</real>
				<key>oY</key><real>2</real>
				<key>oW</key><real>150</real>
				<key>oH</key><real>261</real>
				
			</dict>
                        <key>CapGuyWalk0009</key>
			<dict>
				<key>x</key><real>132</real>
				<key>y</key><real>255</real>
				<key>w</key><real>112</real>
				<key>h</key><real>249</real>
				<key>oX</key><real>26</real>
				<key>oY</key><real>3</real>
				<key>oW</key><real>150</real>
				<key>oH</key><real>261</real>
				
			</dict>
                        <key>CapGuyWalk0010</key>
			<dict>
				<key>x</key><real>132</real>
				<key>y</key><real>255</real>
				<key>w</key><real>112</real>
				<key>h</key><real>249</real>
				<key>oX</key><real>26</real>
				<key>oY</key><real>3</real>
				<key>oW</key><real>150</real>
				<key>oH</key><real>261</real>
				
			</dict>
                        <key>CapGuyWalk0011</key>
			<dict>
				<key>x</key><real>2</real>
				<key>y</key><real>763</real>
				<key>w</key><real>108</real>
				<key>h</key><real>249</real>
				<key>oX</key><real>23</real>
				<key>oY</key><real>7</real>
				<key>oW</key><real>150</real>
				<key>oH</key><real>261</real>
				
			</dict>
                        <key>CapGuyWalk0012</key>
			<dict>
				<key>x</key><real>2</real>
				<key>y</key><real>763</real>
				<key>w</key><real>108</real>
				<key>h</key><real>249</real>
				<key>oX</key><real>23</real>
				<key>oY</key><real>7</real>
				<key>oW</key><real>150</real>
				<key>oH</key><real>261</real>
				
			</dict>
                        <key>CapGuyWalk0013</key>
			<dict>
				<key>x</key><real>132</real>
				<key>y</key><real>2</real>
				<key>w</key><real>116</real>
				<key>h</key><real>251</real>
				<key>oX</key><real>26</real>
				<key>oY</key><real>3</real>
				<key>oW</key><real>150</real>
				<key>oH</key><real>261</real>
				
			</dict>
                        <key>CapGuyWalk0014</key>
			<dict>
				<key>x</key><real>132</real>
				<key>y</key><real>2</real>
				<key>w</key><real>116</real>
				<key>h</key><real>251</real>
				<key>oX</key><real>26</real>
				<key>oY</key><real>3</real>
				<key>oW</key><real>150</real>
				<key>oH</key><real>261</real>
				
			</dict>
                        <key>CapGuyWalk0015</key>
			<dict>
				<key>x</key><real>2</real>
				<key>y</key><real>2</real>
				<key>w</key><real>128</real>
				<key>h</key><real>255</real>
				<key>oX</key><real>18</real>
				<key>oY</key><real>2</real>
				<key>oW</key><real>150</real>
				<key>oH</key><real>261</real>
				
			</dict>
                        <key>CapGuyWalk0016</key>
			<dict>
				<key>x</key><real>2</real>
				<key>y</key><real>2</real>
				<key>w</key><real>128</real>
				<key>h</key><real>255</real>
				<key>oX</key><real>18</real>
				<key>oY</key><real>2</real>
				<key>oW</key><real>150</real>
				<key>oH</key><real>261</real>
				
			</dict>
		</dict>
		<key>meta</key>
		<dict>
			<key>image</key>
			<string>spritesheet.png</string>
			<key>width</key>
			<integer>252</integer>
			<key>height</key>
			<integer>1062</integer>
		</dict>
	</dict>
</plist>
