<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
===================================================================

Sprite sheet file created for UIKit using TexturePacker
http://www.codeandweb.com/texturepacker

===================================================================
$TexturePacker:SmartUpdate:6fa4511502bb85bf101b8454c0649d60:5880c767ea5d25105fe81ea08f791608:4298dc3ef68984c693be4065c3af828c$
-->
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>

                        <key>Box2</key>
			<dict>
				<key>x</key><real>979</real>
				<key>y</key><real>2</real>
				<key>w</key><real>60</real>
				<key>h</key><real>60</real>
				<key>oX</key><real>0</real>
				<key>oY</key><real>0</real>
				<key>oW</key><real>60</real>
				<key>oH</key><real>60</real>
				
			</dict>
                        <key>CapGuyWalk0001</key>
			<dict>
				<key>x</key><real>133</real>
				<key>y</key><real>2</real>
				<key>w</key><real>127</real>
				<key>h</key><real>254</real>
				<key>oX</key><real>12</real>
				<key>oY</key><real>3</real>
				<key>oW</key><real>150</real>
				<key>oH</key><real>261</real>
				
			</dict>
                        <key>CapGuyWalk0002</key>
			<dict>
				<key>x</key><real>133</real>
				<key>y</key><real>2</real>
				<key>w</key><real>127</real>
				<key>h</key><real>254</real>
				<key>oX</key><real>12</real>
				<key>oY</key><real>3</real>
				<key>oW</key><real>150</real>
				<key>oH</key><real>261</real>
				
			</dict>
                        <key>CapGuyWalk0003</key>
			<dict>
				<key>x</key><real>842</real>
				<key>y</key><real>2</real>
				<key>w</key><real>135</real>
				<key>h</key><real>243</real>
				<key>oX</key><real>0</real>
				<key>oY</key><real>7</real>
				<key>oW</key><real>150</real>
				<key>oH</key><real>261</real>
				
			</dict>
                        <key>CapGuyWalk0004</key>
			<dict>
				<key>x</key><real>842</real>
				<key>y</key><real>2</real>
				<key>w</key><real>135</real>
				<key>h</key><real>243</real>
				<key>oX</key><real>0</real>
				<key>oY</key><real>7</real>
				<key>oW</key><real>150</real>
				<key>oH</key><real>261</real>
				
			</dict>
                        <key>CapGuyWalk0005</key>
			<dict>
				<key>x</key><real>603</real>
				<key>y</key><real>2</real>
				<key>w</key><real>122</real>
				<key>h</key><real>247</real>
				<key>oX</key><real>21</real>
				<key>oY</key><real>2</real>
				<key>oW</key><real>150</real>
				<key>oH</key><real>261</real>
				
			</dict>
                        <key>CapGuyWalk0006</key>
			<dict>
				<key>x</key><real>603</real>
				<key>y</key><real>2</real>
				<key>w</key><real>122</real>
				<key>h</key><real>247</real>
				<key>oX</key><real>21</real>
				<key>oY</key><real>2</real>
				<key>oW</key><real>150</real>
				<key>oH</key><real>261</real>
				
			</dict>
                        <key>CapGuyWalk0007</key>
			<dict>
				<key>x</key><real>727</real>
				<key>y</key><real>2</real>
				<key>w</key><real>113</real>
				<key>h</key><real>246</real>
				<key>oX</key><real>34</real>
				<key>oY</key><real>1</real>
				<key>oW</key><real>150</real>
				<key>oH</key><real>261</real>
				
			</dict>
                        <key>CapGuyWalk0008</key>
			<dict>
				<key>x</key><real>727</real>
				<key>y</key><real>2</real>
				<key>w</key><real>113</real>
				<key>h</key><real>246</real>
				<key>oX</key><real>34</real>
				<key>oY</key><real>1</real>
				<key>oW</key><real>150</real>
				<key>oH</key><real>261</real>
				
			</dict>
                        <key>CapGuyWalk0009</key>
			<dict>
				<key>x</key><real>381</real>
				<key>y</key><real>2</real>
				<key>w</key><real>111</real>
				<key>h</key><real>249</real>
				<key>oX</key><real>27</real>
				<key>oY</key><real>3</real>
				<key>oW</key><real>150</real>
				<key>oH</key><real>261</real>
				
			</dict>
                        <key>CapGuyWalk0010</key>
			<dict>
				<key>x</key><real>381</real>
				<key>y</key><real>2</real>
				<key>w</key><real>111</real>
				<key>h</key><real>249</real>
				<key>oX</key><real>27</real>
				<key>oY</key><real>3</real>
				<key>oW</key><real>150</real>
				<key>oH</key><real>261</real>
				
			</dict>
                        <key>CapGuyWalk0011</key>
			<dict>
				<key>x</key><real>494</real>
				<key>y</key><real>2</real>
				<key>w</key><real>107</real>
				<key>h</key><real>249</real>
				<key>oX</key><real>24</real>
				<key>oY</key><real>7</real>
				<key>oW</key><real>150</real>
				<key>oH</key><real>261</real>
				
			</dict>
                        <key>CapGuyWalk0012</key>
			<dict>
				<key>x</key><real>494</real>
				<key>y</key><real>2</real>
				<key>w</key><real>107</real>
				<key>h</key><real>249</real>
				<key>oX</key><real>24</real>
				<key>oY</key><real>7</real>
				<key>oW</key><real>150</real>
				<key>oH</key><real>261</real>
				
			</dict>
                        <key>CapGuyWalk0013</key>
			<dict>
				<key>x</key><real>262</real>
				<key>y</key><real>2</real>
				<key>w</key><real>117</real>
				<key>h</key><real>252</real>
				<key>oX</key><real>26</real>
				<key>oY</key><real>2</real>
				<key>oW</key><real>150</real>
				<key>oH</key><real>261</real>
				
			</dict>
                        <key>CapGuyWalk0014</key>
			<dict>
				<key>x</key><real>262</real>
				<key>y</key><real>2</real>
				<key>w</key><real>117</real>
				<key>h</key><real>252</real>
				<key>oX</key><real>26</real>
				<key>oY</key><real>2</real>
				<key>oW</key><real>150</real>
				<key>oH</key><real>261</real>
				
			</dict>
                        <key>CapGuyWalk0015</key>
			<dict>
				<key>x</key><real>2</real>
				<key>y</key><real>2</real>
				<key>w</key><real>129</real>
				<key>h</key><real>256</real>
				<key>oX</key><real>18</real>
				<key>oY</key><real>1</real>
				<key>oW</key><real>150</real>
				<key>oH</key><real>261</real>
				
			</dict>
                        <key>CapGuyWalk0016</key>
			<dict>
				<key>x</key><real>2</real>
				<key>y</key><real>2</real>
				<key>w</key><real>129</real>
				<key>h</key><real>256</real>
				<key>oX</key><real>18</real>
				<key>oY</key><real>1</real>
				<key>oW</key><real>150</real>
				<key>oH</key><real>261</real>
				
			</dict>
		</dict>
		<key>meta</key>
		<dict>
			<key>image</key>
			<string>spritesheet.png</string>
			<key>width</key>
			<integer>1041</integer>
			<key>height</key>
			<integer>260</integer>
		</dict>
	</dict>
</plist>
